@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Concert One", Arial, Helvetica, sans-serif;
}

html {
    position: relative;
}

body {
    background: white url("../imagens/forest1.jpeg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

section#ztitulo {
    background-color: black;
    padding: 20px;
}

section#ztitulo h1, section#ztitulo p {
    font-family: "Concert One", Arial, sans-serif;
    color: white;
    text-align: center;
}

section#ztitulo h1 {
    font-size: 5em;
    margin-bottom: 10px;
    font-variant: small-caps;
}

section#ztitulo p {
    font-size: 1.3em;
}

nav {
    background-color: rgb(202, 202, 202);
    text-align: right;
    padding: 20px;
    height: 20px;
}

nav a {
    margin: 15px;
    padding: 10px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    position: relative;
    color: rgb(0, 0, 0);
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 10px;
    transition: 0.5s;
}

nav a::after {
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 1;
    left: 50%;
    top: -25%;
    transform: translateX(-50%);
}

nav a:hover::after {
    content: "🌲";
    color: white;
    transition: 0.5s;
}

main {
    background-color: white;
    width: 1200px;
    margin: 50px auto;
    padding: 20px;
    min-width: 300px;
    max-width: 1300px;
}

main img {
    width: auto;
    height: auto;
}

main h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

main h2 {
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 20px;
    font-size: 1.6em;
}

main p {
    color: black;
    text-align: justify;
    text-indent: 50px;
    font-family: "Acme", Arial, Helvetica, sans-serif;
}

main section {
    margin-bottom: 20px;
}

section#introduction img, section#introduction p {
    margin-top: 20px;
}

section#capy-diet img {
    width: 75%;
    margin: 10px;
    box-shadow: 0px 0px 10px 4px white;
}

section#capy-diet p {
    width: 100%;

}

div.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#inter {
    display: inline-block;
    background-color: rgb(67, 113, 211);
    color: white;
    border: 1px solid rgb(19, 52, 141);
    border-radius: 50%;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
}

div#background {
    background: white url("../imagens/forest2.jpg") no-repeat bottom center;
    background-size: cover;
    height: 500px;
    position: relative;
}

div#capybara-div {
    background: url("../imagens/capybara_div.png") no-repeat center center;
    width: 500px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 25%;
}

div#plant {
    background: url("../imagens/plant.png") no-repeat center center;
    width: 254px;
    height: 254px;
    position: absolute;
    left: 10%;
    top: 50%;
}

div#help-box {    
    position: absolute;
    width: 15%;
    display: none;
}

div#help-window {    
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 50%;
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    transform: translate(-50%, -50%);
    width: 20%;
    text-align: center;
    border-radius: 20px;
}

div#help-window > p {
    text-align: center;
    margin: 0;
    text-indent: 0;
    margin: 10px;
}

div.adivce-header {
    background-color: rgb(218, 218, 218);
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

div#bckg {
    background: white url("../imagens/lake.jpg") no-repeat center center;
    background-size: contain;
    background-attachment: fixed;
    height: 700px;
    position: relative;
}

div#imgs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 16px;
    max-width: 900px;
    margin: auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#vd {
    position: relative;
    width: 100%;
    height: 560px;
}

iframe {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;

}

footer {
    background-color: black;
    color: white;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    bottom: 0;
}

footer a {
    display: inline-block;
    color: rgb(129, 168, 253);
    border-radius: 5px;
    text-decoration: none;
}

footer a:hover {
    background-color: floralwhite;
    padding: 5px;
}

.card {
    background-color: #fff;
    margin: 10px;
    width: 260px;
    height: 260px;
    border-radius: 12px;
    box-shadow: 4px 4px 5px #00000091;
    transition: 0.5s;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

#hidden-section {
    display: none;
}

.container {
    display: flex;
}

.container img {
    margin-right: 20px;
}

.text-content {
    display: flex;
    flex-direction: column
}

.hover {
    transform: scale(1.1);
}

.close {
    align-items: center;
    appearance: none;
    background-color: #be4646;
    border-radius: 20px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
}

.close:hover {
    background: #ff5b5b;
    color: #174ea6;
    transition: 0.2s;
  }
  