@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Concert One", Arial, Helvetica, sans-serif;
}

body {
    background: white url("../imagens/forest1.jpeg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

section#ztitulo {
    background-color: black;
    padding: 20px;
}

section#ztitulo h1, section#ztitulo p {
    font-family: "Concert One", Arial, sans-serif;
    color: white;
    text-align: center;
}

section#ztitulo h1 {
    font-size: 5em;
    margin-bottom: 10px;
    font-variant: small-caps;
}

section#ztitulo p {
    font-size: 1.3em;
}

nav {
    background-color: darkgray;
    text-align: right;
    padding: 20px;
    height: 20px;
    overflow: hidden;
}

nav a {
    margin: 15px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    color: white;
}

nav a:active {
    color: green;
}

nav a::after {
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s; 
}

nav a:hover {
    background-color: black;
    border-radius: 10px;
}

nav a:hover::after {
    content: "🌲";
    opacity: 1;
}

main {
    background-color: white;
    width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

main h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

main h2 {
    margin-bottom: 10px;
}

main p {
    color: black;
    text-align: justify;
    text-indent: 50px;
    font-family: "Acme", Arial, Helvetica, sans-serif;
}

main section {
    margin-bottom: 20px;
}

section#introduction img, section#introduction p {
    margin-top: 20px;
}

section#capy-diet img {
    width: 75%;
    margin: 10px;
    margin-left: 100px;
}

section#capy-diet p {
    width: 600px;

}

div#background {
    background: white url("../imagens/forest2.jpg") no-repeat bottom center;
    background-size: cover;
    height: 500px;
    position: relative;
}

div#capybara-div {
    background: url("../imagens/capybara_div.png") no-repeat center center;
    width: 500px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 25%;
}

div#plant {
    background: url("../imagens/plant.png") no-repeat center center;
    width: 254px;
    height: 254px;
    position: absolute;
    left: 10%;
    top: 50%;
}

div#bckg {
    background: white url("../imagens/lake.jpg") no-repeat center center;
    background-size: contain;
    background-attachment: fixed;
    height: 700px;
    position: relative;
}

div#imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 16px;
    max-width: 900px;
    position: absolute;
    margin: auto;
    top: 9%;
    left: 13%;
}
    
.card {
    background-color: #fff;
    margin: 10px;
    width: 260px;
    height: 260px;
    border-radius: 12px;
    box-shadow: 4px 4px 5px #00000091;
    transition: 0.5s;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

#hidden-section {
    display: none;
}

.container {
    display: flex;
    
}

.container img {
    margin-right: 20px;
}

.text-content {
    display: flex;
    flex-direction: column
}

.hover {
    transform: scale(1.1);
}